// COLORS
$off-black: #09181b;
$off-white: #e7fbff;
$dark-blue: #183c43;
$blue: #4cc3d9;
$light-blue: #5ce6ff;
$orange: #f16645;
$dark-orange: #783322;
$yellow: #ffc65d;
$gray: #7a7a7a;

// SPACING
$s-size: 1.6rem;
$m-size: 2.3rem;
$l-size: 3.7rem;
$xl-size: 6.7rem;

$desktop-breakpoint: 48rem;