
.nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 4rem;
    background: $blue;
    border-bottom: .3rem solid $yellow;
    box-shadow: 0px 3px 4px 1px rgba(0,0,0,0.3); 
    padding: $m-size;
    position: fixed;
}
.nav__logo{
    margin-right: 10rem;
}
.nav__info {
    display: flex;
    width: 68%;
    justify-content: space-between;
    align-items: center;
    color: $off-black;
    float: right;
}
.nav_message {
    font-weight: 700;
    text-align: center;
}


// .widget {
//     background: $light-blue;
//     margin-bottom: $xl-size;
// }
// .widget__message {
//     color: $off-white;
//     text-align: center;
//     margin: 0;
//     padding: $l-size;
//     border-bottom: .1rem solid lighten($color: $light-blue, $amount: 10%);
// }

// .widget-header {
//     display: flex;
//     justify-content: space-between;
//     background: $blue;
//     color: $off-white;
//     padding: $m-size;
// }
// .widget-header__title {
//     margin: 0;
// }
